@{
  Layout = "_Layout";
}

  <h1 style="text-align: center;">Welcome Pierre!</h1>
  <h4 style="text-align: center;"><a href='/vendors/new'>Add a new Vendor!</a></h4>
  <h4 style="text-align: center;"><a href='/vendors'>View Vendors!</a></h4>
