@{
  Layout = "_Layout";
}
    <h1 style="text-align: center;">Add a vendor!</h1>
    <p style="text-align: center;">Add a vendor here:</p>

    <form action="/vendors" method="post" style="text-align: center;">
      <input id="name" name="name" type="text"><br><br>
      <button type="submit" style="border-radius: 7px;">Add</button>
    </form><br>

    <p style="text-align: center;"><a href="/">Back home!</a></p>
    <p style="text-align: center;"><a href="/vendors">Back to vendors!</a></p>