@{
  Layout = "_Layout";
}
@using Bakery.Models;

<h3 style="text-align: center;">Here are all the orders from this vendor:</h3>

@if (@Model["orders"].Count == 0)
{
  <h5 style="text-align: center;">No orders have been added yet!</h5>
}

<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li style="text-align: center; list-style-position: inside;"><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Item</a></li>
  }
</ol>

<p style="text-align: center;"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
<p style="text-align: center;"><a href='/vendors'>Return to vendors list</a></p>
<p style="text-align: center;"><a href='/'>Return to Home Page</a></p>